/* Change "base font size"
html {
 font-size:14px
} */

/* Increase content font size */
.content {
  font-size: 1.125rem;
}

/* Increase navbar link font size */
.hextra-nav-container a {
  font-size: 1rem;
}

